<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eum vel
    consectetur odit, deserunt cum nostrum cumque, sunt, reprehenderit officiis
    odio excepturi. Quo, culpa! Dolor cum ut enim alias rerum.
  </p>

  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
